@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.budgets-overview {
  @include flex-align-center;

  gap: $spacing-200;

  justify-content: center;
  width: 100%;
  margin: $spacing-100 0;
}

.budgets-list {
  display: grid;

  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  gap: $spacing-200;
}
