@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.budgetsOverview {
  @include flex-align-center;
  // flex-wrap: wrap;
  justify-content: center;
  gap: $spacing-200;

  margin: $spacing-100 0;
  width: 100%;
}

.budgetsList {
  display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  gap: $spacing-200;
}
