@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.budgetsOverview {
  @include flex-align-center;

  gap: $spacing-200;

  // flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: $spacing-100 0;
}

.budgetsList {
  display: grid;

  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  gap: $spacing-200;
}
