@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.pagination {
  @include flex-align-center;

  gap: $spacing-50;
  justify-content: space-between;
  padding-top: $spacing-300;
  margin-top: auto;
}

.pagination-list {
  display: none;
  @media screen and (min-width: 500px) {
    @include flex-align-center;

    gap: $spacing-100;
  }
}

.arrow-button {
  @include pagination-button;

  &:disabled {
    opacity: 0.4;
  }

  span {
    display: none;
  }

  svg {
    color: $grey-500;
    transition: 0.2s ease-out;
  }

  @media (hover: hover) {
    &:not(:disabled):hover {
      color: $white;
      background-color: $beige-500;

      svg {
        color: $white;
      }
    }
  }

  @media screen and (width >= 500px) {
    span {
      display: inline;
    }
  }
}

.arrow-button:first-child {
  svg {
    transform: rotate(90deg);
  }
}

.arrow-button:last-child {
  svg {
    transform: rotate(-90deg);
  }
}

.button {
  @include pagination-button;

  width: 40px;

  @media (hover: hover) {
    &:hover {
      color: $white;
      background-color: $beige-500;
      border-color: $beige-500;
    }
  }
}

.active {
  color: $white;
  background-color: $grey-900;
  border-color: $grey-900;
}

.current-page {
  @include text-preset-4;
  color: $grey-500;

  @media screen and (min-width: 500px) {
    display: none;
  }
}
