@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.stats {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-150;
  
  @media screen and (width >= 600px) {
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-300;
  }
}

.card {
  @include flex-column;

  gap: $spacing-150;
  padding: $spacing-300;
  color: $grey-500;
  background-color: $white;
  border-radius: $spacing-150;
}

.card:first-child {
  color: $white;
  background-color: $grey-900;

  .sum {
    color: $white;
  }
}

.title {
  @include text-preset-4;

  margin: 0;
  text-transform: capitalize;
}

.sum {
  @include text-preset-1;

  color: $grey-900;
}
