@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.spending {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: $spacing-100;
  color: $grey-500;
  align-items: center;
  padding-bottom: $spacing-200;
  margin-top: $spacing-200;
  border-bottom: 1px solid $grey-100;
}

.spending:first-child {
  margin-top: 0;
}

.spending:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.spendingColor {
  margin-right: $spacing-100;
  border-radius: $spacing-100;
  width: $spacing-50;
  height: 100%;
}

.spendingTitle {
  @include text-preset-4;
}

.spendingAmount {
  @include text-preset-3;
  color: $grey-900;
}

.spendingMaximum {
  @include text-preset-5;
}
