@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.link {
  @include text-preset-4;
  @include flex-center;

  gap: $spacing-150;
  color: $beige-500;
  text-transform: capitalize;
  text-decoration: none;

  @include transition-base;

  svg {
    width: 12px;
    height: 13px;
    transform: rotate(-90deg);
  }

  @media (hover: hover) {
    &:hover {
      color: $grey-900;
    }
  }
}
