@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.budget-section {
  display: grid;
  gap: $spacing-300;

  @media screen and (width >= 1100px) {
    grid-template-columns: 1fr 1.5fr;
    align-items: start;
  }
}

.budget-summary {
  @include white-background;

  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-400;
  place-items: center;
  padding: clamp($spacing-250, 4.17vw, $spacing-400);

  @media screen and (width >= 760px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (width >= 1100px) {
    grid-template-columns: 1fr;
  }
}

.budget-container {
  @include flex-column;

  gap: $spacing-300;
}
