@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.chart {
  @include flex-center;
  position: relative;
  max-width: 240px;
  max-height: 240px;
}

.chart-info {
  @include flex-column;
  align-items: center;
  justify-content: center;
  @include text-preset-1;
  color: $grey-900;
  position: absolute;
  background-color: rgba($color: $white, $alpha: 0.25);
  width: 70%;
  height: 70%;
  min-width: 168px;
  border-radius: 50%;
}

.limit {
  @include text-preset-5;
  color: $grey-500;
}
