@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.chart {
  @include flex-center;

  position: relative;
  max-width: 240px;
  max-height: 240px;
}

.chart-info {
  @include flex-column;

  position: absolute;
  align-items: center;
  justify-content: center;
  width: 70%;
  min-width: 168px;
  height: 70%;
  color: $grey-900;
  background-color: rgba($color: $white, $alpha: 25%);
  border-radius: 50%;

  @include text-preset-1;
}

.limit {
  @include text-preset-5;

  color: $grey-500;
}
