@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.button {
  color: $grey-300;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
}

.menuWrapper {
  position: relative;
}

.optionsList {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  padding: $spacing-150 $spacing-250;
  color: $grey-900;
  outline: none;
  background-color: $white;
  border-radius: $spacing-100;
  box-shadow: 0 4px 24px 0 rgb(0 0 0 / 25%);

  @include flex-column;
}

.optionButton {
  text-align: left;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;

  @include text-preset-4;
}

.optionButton:first-child {
  padding-bottom: $spacing-150;
  border-bottom: 1px solid $grey-100;
}

.optionButton:last-child {
  padding-top: $spacing-150;
  color: $red;
}
