@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.spendingSummary {
  @include flex-column;
  gap: $spacing-200;
  width: 100%;
}

.title {
  @include text-preset-2;
  color: $grey-900;
}

