@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.latestSpeding {
  border-radius: $spacing-150;
  background: $beige-100;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: $spacing-250;
  align-items: center;

  padding: $spacing-200;
  a {
    justify-self: end;
  }
}

.title {
  @include text-preset-3;
  color: $grey-900;
  justify-self: start;
}

.list {
  grid-column: span 2;
}

.transaction {
  @include text-preset-5;
  color: $grey-500;
  margin-top: $spacing-200;
  padding-bottom: $spacing-200;
  border-bottom: 1px solid rgba($grey-500, 0.15);
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  row-gap: $spacing-100;
}

.transaction:first-child {
  margin-top: 0;
}

.transaction:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.transactionImage {
  @include image-icon;
  margin-right: $spacing-200;
  grid-column: 1;
  grid-row: span 2;
  align-self: center;
  justify-self: flex-start;
}

.transactionName {
  @include text-preset-5-bold;
  color: $grey-900;
  grid-column: 2;
  grid-row: span 2;
  align-self: center;
  justify-self: flex-start;
}

.transactionAmount {
  @include text-preset-5-bold;
  color: $grey-900;
  justify-self: end;
}

.positive {
  color: $green;
}

.transactionDate {
  grid-column: 3;
  justify-self: end;
}
