@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.table-header {
  display: none;

  @media screen and (width >= 680px) {
    display: flex;
    gap: $spacing-400;
    align-items: center;
    padding: $spacing-200;
    color: $grey-500;

    @include text-preset-5;
  }
}
