@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.bills-container {
  @include flex-column;

  gap: $spacing-150;
  width: 100%;
}

.bill-item {
  @include flex-center;

  justify-content: space-between;
  padding: $spacing-250 $spacing-200;
  background-color: $beige-100;
  border-radius: $spacing-100;
}

.bill-title {
  @include text-preset-4;

  color: $grey-500;
}

.bill-amount {
  @include text-preset-4-bold;

  color: $grey-900;
}
