@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.budgetContainer {
  @include flex-column;
  gap: $spacing-300;
}

.budget {
  @include white-background;
  padding: clamp($spacing-250, 4.17vw, $spacing-400);

  @include flex-column;
  gap: $spacing-250;
}

.budgetStats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-200;
}

.budgetMaximum {
  @include text-preset-4;
  color: $grey-500;
  grid-column: span 2;
}

.budgetBar {
  grid-column: span 2;
  background: $beige-100;
  width: 100%;
  overflow: hidden;
  border-radius: $spacing-50;
  height: 24px;
  padding: $spacing-50;
}

.budgetBarPrecent {
  height: 100%;
  width: 50%;
  border-radius: $spacing-50;
}

//

.budgetSummary {
  @include white-background;
  padding: clamp($spacing-250, 4.17vw, $spacing-400);

  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-400;
  place-items: center;

  @media screen and (min-width: 760px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1100px) {
    grid-template-columns: 1fr;
    
  }
}

.spendingSummary {
  @include flex-column;
  gap: $spacing-200;
  width: 100%;
}

.spending {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: $spacing-100;
  color: $grey-500;
  align-items: center;
  padding-bottom: $spacing-200;
  margin-top: $spacing-200;
  border-bottom: 1px solid $grey-100;
}

.spending:first-child {
  margin-top: 0;
}

.spending:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.spendingColor {
  margin-right: $spacing-100;
  border-radius: $spacing-100;
  width: $spacing-50;
  height: 100%;
}

.spendingTitle {
  @include text-preset-4;
}

.spendingAmount {
  @include text-preset-3;
  color: $grey-900;
}

.spendingMaximum {
  @include text-preset-5;
}

//

.budgetSection {
  display: grid;
  gap: $spacing-300;

  @media screen and (min-width: 1100px) {
    grid-template-columns: auto 1fr;
    align-items: start;
  }
}
