@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.dropdown-button {
  @include dropdown-button-base;

  padding: $spacing-150 $spacing-250;
  background-color: $white;
  border: 1px solid $beige-500;
  border-radius: $spacing-100;
}

.dropdown-display {
  @include dropdown-display-base;

  svg {
    flex-shrink: 0;
  }
}

.dropdown-selected {
  @include flex-align-center;

  gap: $spacing-150;
  width: 100%;
}

.dropdown-wrapper {
  position: relative;
  gap: $spacing-50;
  width: 100%;

  @include flex-column;
}

.dropdown-help {
  @include text-preset-5;

  align-self: flex-end;
  color: $grey-500;
  text-transform: capitalize;
}

.dropdown-options {
  @include dropdown-panel;

  width: 100%;
}

.dropdown-option {
  @include option-list-item;
}

.selected {
  font-weight: 700;
}

.dropdown-field {
  @include flex-column;

  gap: $spacing-50;
}

.dropdown-label {
  @include text-preset-5-bold;

  color: $grey-500;
}

.dropdown-color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.dropdown-status {
  @include text-preset-5;

  justify-self: flex-end;
}

.used {
  color: $grey-500;
  cursor: default;

  .dropdown-color {
    opacity: 0.1;
  }
}
