@use "./variables" as *;

@mixin text {
  letter-spacing: $letter-spacing-0;
  font-family: $font;
}

@mixin text-preset-1 {
  font-size: $text-size-1;
  font-weight: $font-weight-700;
  line-height: $line-height-120;
  @include text;
}

@mixin text-preset-2 {
  font-size: $text-size-2;
  font-weight: $font-weight-700;
  line-height: $line-height-120;
  @include text;
}

@mixin text-preset-3 {
  font-size: $text-size-3;
  font-weight: $font-weight-700;
  line-height: $line-height-150;
  @include text;
}

@mixin text-preset-4 {
  font-size: $text-size-4;
  font-weight: $font-weight-400;
  line-height: $line-height-150;
  @include text;
}

@mixin text-preset-4-bold {
  font-size: $text-size-4;
  font-weight: $font-weight-700;
  line-height: $line-height-150;
  @include text;
}

@mixin text-preset-5 {
  font-size: $text-size-5;
  font-weight: $font-weight-400;
  line-height: $line-height-150;
  @include text;
}

@mixin text-preset-5-bold {
  font-size: $text-size-5;
  font-weight: $font-weight-700;
  line-height: $line-height-150;
  @include text;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
