@use "./variables" as *;

@mixin text-preset-1 {
  font-size: $text-size-1;
  font-weight: $font-weight-700;
  line-height: $line-height-120;
}

@mixin text-preset-2 {
  font-size: $text-size-2;
  font-weight: $font-weight-700;
  line-height: $line-height-120;
}

@mixin text-preset-3 {
  font-size: $text-size-3;
  font-weight: $font-weight-700;
  line-height: $line-height-150;
}

@mixin text-preset-4 {
  font-size: $text-size-4;
  font-weight: $font-weight-400;
  line-height: $line-height-150;
}

@mixin text-preset-4-bold {
  font-size: $text-size-4;
  font-weight: $font-weight-700;
  line-height: $line-height-150;
}

@mixin text-preset-5 {
  font-size: $text-size-5;
  font-weight: $font-weight-400;
  line-height: $line-height-150;
}

@mixin text-preset-5-bold {
  font-size: $text-size-5;
  font-weight: $font-weight-700;
  line-height: $line-height-150;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin transition-base {
  cursor: pointer;
  transition: all 0.2s ease-out;
}

@mixin pagination-button {
  @include text-preset-4;
  @include flex-center;
  @include transition-base;

  gap: $spacing-200;
  height: 40px;
  padding: $spacing-200;
  color: $grey-900;
  background: $white;
  border: 1px solid $beige-500;
  border-radius: $spacing-100;
}

@mixin image-icon {
  width: clamp($spacing-400, 6.4vw, $spacing-500);
  height: clamp($spacing-400, 6.4vw, $spacing-500);
  border-radius: 50%;
}

@mixin white-background {
  background-color: $white;
  border-radius: $spacing-150;
}

// DROPDOWN LIST

@mixin dropdown-button-base {
  @include flex-align-center;
  @include transition-base;

  gap: $spacing-200;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  outline: none;
  background-color: $white;
  border-radius: $spacing-100;
}

@mixin dropdown-display-base {
  gap: $spacing-200;
  justify-content: space-between;
  width: 100%;
  color: $grey-900;

  @include flex-align-center;
  @include text-preset-4;

  svg {
    grid-column: 3;
  }
}

@mixin dropdown-panel {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  max-height: 200px;
  padding: $spacing-150 $spacing-50 $spacing-150 $spacing-250;
  margin-top: $spacing-100;
  overflow-y: auto;
  outline: none;
  background-color: $white;
  border-radius: $spacing-100;
  box-shadow: 0 4px 24px 0 rgb(0 0 0 / 25%);

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / 20%);
    background-clip: content-box;
    border: 2px solid transparent;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0 0 0 / 30%);
  }
}

@mixin option-list-item {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: $spacing-150;
  align-items: center;
  width: 100%;
  padding: $spacing-150 0;
  color: $grey-900;
  white-space: nowrap;
  cursor: pointer;
  border-bottom: 1px solid $grey-100;

  @include text-preset-4;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

@mixin focus-dark {
  &:focus {
    outline: 0.5px solid $grey-500;
  }
}

@mixin focus-light {
  &:focus {
    outline: 0.5px solid white;
  }
}
