@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.pot {
  @include white-background;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-400 $spacing-200;
  padding: clamp($spacing-250, 4.17vw, $spacing-400);
}

.pot-chart {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: span 2;
  row-gap: $spacing-200;
  align-items: center;
  color: $grey-500;
}

.pot-total {
  @include text-preset-4;

  justify-self: start;
  text-transform: capitalize;
}

.pot-amount {
  @include text-preset-1;

  justify-self: end;
  color: $grey-900;
}

.pot-precent {
  @include text-preset-5-bold;

  justify-self: start;
}

.pot-target {
  @include text-preset-5;

  justify-self: end;
}

.pot-bar {
  position: relative;
  grid-column: span 2;
  width: 100%;
  height: $spacing-100;
  overflow: hidden;
  background: $beige-100;
  border-radius: $spacing-50;
}

.pot-bar-precent {
  position: absolute;
  height: 100%;
  border-radius: $spacing-50;
}
