@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.summary-wrapper {
  @include flex-column;
  @include white-background;
  @include text-preset-5;

  gap: $spacing-250;
  padding: $spacing-250;
  color: $grey-500;
}

.summary-title {
  @include text-preset-3;
  color: $grey-900;
}

.summary-item {
  @include flex-align-center;

  gap: $spacing-50;
  justify-content: space-between;
  padding-bottom: $spacing-200;
  margin-top: $spacing-200;
  border-bottom: 1px solid $grey-100;
}

.summary-item:first-child {
  margin-top: 0;
}

.summary-item:last-child {
  padding-bottom: 0;
  color: $red;
  border-bottom: none;

  .item-sum {
    color: $red;
  }
}

.item-sum {
  @include text-preset-5-bold;

  color: $grey-900;
}
