@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.potsContainer {
  display: grid;
  gap: $spacing-300;

  @media screen and (min-width: 760px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.pot {
  @include white-background;
  padding: clamp($spacing-250, 4.17vw, $spacing-400);

  display: grid;

  grid-template-columns: repeat(2, 1fr);
  row-gap: $spacing-400;
  column-gap: $spacing-200;
}

.potChart {
  grid-column: span 2;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: $spacing-200;
  align-items: center;

  color: $grey-500;
}

.potTotal {
  @include text-preset-4;
  text-transform: capitalize;
  justify-self: start;
}

.potAmount {
  @include text-preset-1;
  color: $grey-900;
  justify-self: end;
}

.potPrecent {
  @include text-preset-5-bold;
  justify-self: start;
}

.potTarget {
  @include text-preset-5;
  justify-self: end;
}

.potBar {
  grid-column: span 2;
  border-radius: $spacing-50;
  background: $beige-100;
  width: 100%;
  height: $spacing-100;
  position: relative;
  overflow: hidden;
}

.potBarPrecent {
  position: absolute;
  border-radius: $spacing-50;
  height: 100%;

}