@use "../../../../styles/variables" as *;
@use "../../../../styles/mixins" as *;

.budget {
  @include white-background;
  padding: clamp($spacing-250, 4.17vw, $spacing-400);

  @include flex-column;
  gap: $spacing-250;
}

.budgetStats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $spacing-200;
}

.budgetMaximum {
  @include text-preset-4;
  color: $grey-500;
  grid-column: span 2;
}

.budgetBar {
  grid-column: span 2;
  background: $beige-100;
  width: 100%;
  overflow: hidden;
  border-radius: $spacing-50;
  height: 24px;
  padding: $spacing-50;
}

.budgetBarPrecent {
  height: 100%;
  border-radius: $spacing-50;
}
