@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.title {
  color: $grey-900;
  text-transform: capitalize;
  @include text-preset-1;
  margin: 0;
}

.main {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  width: 100%;
  gap: $spacing-400;
  padding: clamp($spacing-300, 4.285vw, $spacing-400)
    clamp($spacing-200, 2.857vw, $spacing-500);

  section {
    grid-column: span 2;
  }

  h1 {
    grid-column: 1;
  }

  & > button {
    grid-column: 2;
    justify-content: end;
  }
}