@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.bill-summary {
  @include flex-column;

  gap: $spacing-150;
  padding: $spacing-300 $spacing-250;
  color: $white;
  background-color: $grey-900;
  border-radius: $spacing-150;
}

// .bill-icon {
// }

.bill-label {
  @include text-preset-4;
}

.bill-amount {
  @include text-preset-1;
}
