@use "../styles/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @media screen and (min-width: 900px) {
    flex-direction: row;
  }

  background-color: $grey-100;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  margin: 0;
}
