@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.input-field {
  @include text-preset-5-bold;

  display: flex;
  flex-direction: column;
  gap: $spacing-50;
  color: $grey-500;
  text-align: left;
  text-transform: capitalize;

  & > span {
    @include text-preset-5;

    align-self: end;
  }
}

.input-wrapper {
  @include flex-align-center;

  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  background: $white;
  border: 1px solid $beige-500;
  border-radius: $spacing-100;
  transition: 0.2s ease-out;

  svg {
    margin-right: $spacing-150;
  }

  &:focus-within {
    border-color: $grey-900;
  }

  @media (hover: hover) {
    &:hover {
      .input::placeholder {
        color: $grey-900;
      }

      border-color: $grey-900;
    }
  }
}

.input {
  @include flex-center;
  @include text-preset-4;

  width: 100%;
  padding: $spacing-150;
  color: $grey-900;
  outline: none;
  background: $white;
  border: none;

  &::placeholder {
    color: $beige-500;
    text-transform: capitalize;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }
}

.prefix {
  margin-left: $spacing-150;
  color: $beige-500;

  @include text-preset-4;
}
