@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: $white;
  border-radius: $spacing-150;
  padding: $spacing-400;

  a {
    justify-self: end;
  }

  > :not(h3):not(a) {
    justify-self: center;
    grid-column: 1 / -1;
    grid-row: 2;
  }
}

.title {
  @include text-preset-2;
  color: $grey-900;
}