@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.container {
  @include white-background;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  align-items: center;
  padding: clamp($spacing-250, 4.17vw, $spacing-400);

  a {
    justify-self: end;
  }

  > :not(h3, a) {
    grid-row: 2;
    grid-column: 1 / -1;
    justify-self: center;
  }
}

.title {
  @include text-preset-2;

  color: $grey-900;
}
