@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.search-panel {
  @include flex-align-center;

  gap: $spacing-300;
  justify-content: space-between;
}

.filtres {
  @include flex-align-center;

  gap: $spacing-300;
  justify-content: space-between;
}
