@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.serachPanel {
  @include flex-align-center;
  justify-content: space-between;
  gap: $spacing-300;
}

.filtres {
  @include flex-align-center;
  justify-content: space-between;
  gap: $spacing-300;
}
