@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.menu {
  width: 100%;
  background-color: $grey-900;
  border-radius: $spacing-100 $spacing-100 0 0;

  @media screen and (width >= 900px) {
    display: flex;
    flex-direction: column;
    gap: $spacing-300;
    max-width: 300px;
    padding-bottom: $spacing-300;
    border-radius: 0 $spacing-200 $spacing-200 0;
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: $spacing-50;
  padding: $spacing-100 clamp($spacing-200, 3.5vw, $spacing-500) 0
    clamp($spacing-200, 3.5vw, $spacing-500);

  @media screen and (width >= 900px) {
    display: flex;
    flex-direction: column;
    padding: 0;

  }
}

.logo {
  display: none;

  @media screen and (width >= 900px) {
    display: block;
    padding: $spacing-500 $spacing-400;
  }
}

.button {
  display: none;

  @media screen and (width >= 900px) {
    @include flex-align-center;
    @include text-preset-3;
    @include transition-base;

    gap: $spacing-200;
    justify-content: flex-start;
    padding: $spacing-200 $spacing-400;
    margin-top: auto;
    color: $grey-300;
    outline: none;
    background-color: transparent;
    border: none;

    span {
      white-space: nowrap;
    }

    @media (hover: hover) {
      &:hover {
        color: $grey-100;
      }
    }
  }
}
