@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.confirm-text {
  @include text-preset-4;

  color: $grey-500;
}

.cancel-button {
  @include text-preset-4;
  @include focus-dark;
  @include transition-base;

  color: $grey-500;
  text-transform: capitalize;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: $spacing-100;

  @media (hover: hover) {
    &:hover {
      color: $grey-900;
    }
  }
}
