@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.overview-section {
  @include flex-column;

  gap: $spacing-400;
}

.overview {
  @include flex-column;

  gap: clamp($spacing-200, 3.125vw, $spacing-300);

  @media screen and (width >= 1200px) {
    display: grid;
    grid-template-columns: minmax(56%, auto) minmax(40%, auto);
  }
}

.left-column {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp($spacing-200, 3.125vw, $spacing-300);
}

.right-column {
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp($spacing-200, 3.125vw, $spacing-300);
}
