@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.pots-container {
  display: grid;
  gap: $spacing-300;

  @media screen and (width >= 760px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
