@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.spending {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: $spacing-100;
  align-items: center;
  padding-bottom: $spacing-200;
  margin-top: $spacing-200;
  color: $grey-500;
  border-bottom: 1px solid $grey-100;
}

.spending:first-child {
  margin-top: 0;
}

.spending:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.spending-color {
  width: $spacing-50;
  height: 100%;
  margin-right: $spacing-100;
  border-radius: $spacing-100;
}

.spending-title {
  @include text-preset-4;
}

.spending-amount {
  @include text-preset-3;

  color: $grey-900;
}

.spending-maximum {
  @include text-preset-5;
}
