@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.summaryWrapper {
  @include flex-column;
  @include white-background;
  @include text-preset-5;

  padding: $spacing-250;
  color: $grey-500;
}

.summaryTitle {
  @include text-preset-3;

  margin-bottom: $spacing-250;
  color: $grey-900;
}

.summaryItem {
  @include flex-align-center;

  gap: $spacing-50;
  justify-content: space-between;
  padding-bottom: $spacing-200;
  margin-top: $spacing-200;
  border-bottom: 1px solid $grey-100;
}

.summaryItem:first-child {
  margin-top: 0;
}

.summaryItem:last-child {
  padding-bottom: 0;
  color: $red;
  border-bottom: none;

  .itemSum {
    color: $red;
  }
}

.itemSum {
  @include text-preset-5-bold;

  color: $grey-900;
}
