@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.link {
  @include text-preset-5-bold;
  @include transition-base;

  gap: $spacing-50;
  align-items: center;
  justify-content: center;
  padding: $spacing-100 0 $spacing-150 0;
  color: $grey-300;
  text-transform: capitalize;
  white-space: nowrap;
  text-decoration: none;
  border-radius: $spacing-100 $spacing-100 0 0;

  @include flex-column;

  svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }

  @media screen and (width >= 900px) {
    @include text-preset-3;

    flex-direction: row;
    gap: $spacing-200;
    justify-content: flex-start;
    padding: $spacing-200 $spacing-400;
    border-radius: 0 $spacing-150 $spacing-150 0;

    @media (hover: hover) {
      &:hover {
        color: $grey-100;
      }
    }
  }
}

.active {
  color: $grey-900;
  background-color: $beige-100;
  border-bottom: 4px solid $green;

  // border-radius: $spacing-100 $spacing-100 0 0;

  svg {
    color: $green;
  }

  @media screen and (width >= 900px) {
    border-bottom: 0;
    border-left: 4px solid $green;

    // border-radius: 0 $spacing-150 $spacing-150 0;

    // margin-left: $spacing-100;

    @media (hover: hover) {
      &:hover {
        color: $grey-900;
      }
    }
  }
}

.label {
  display: none;

  @media screen and (width >= 560px) {
    display: block;
  }
}
